TicTacToe.Client/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6728/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Board_Size" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Chapmpionship" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfAdvisor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advisor" nillable="true" type="tns:Advisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvisor" nillable="true" type="tns:ArrayOfAdvisor" />
  <xs:complexType name="Advisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advisor" nillable="true" type="tns:Advisor" />
  <xs:complexType name="ArrayOfChampionship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Championship" nillable="true" type="tns:Championship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChampionship" nillable="true" type="tns:ArrayOfChampionship" />
  <xs:complexType name="Championship">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Picture" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Start_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Championship" nillable="true" type="tns:Championship" />
</xs:schema>